/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.css";
 //@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
  font-family: 'Noto Sans', sans-serif;
}
html{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.hf {
  font-family: 'Lato', sans-serif;
}

.bttn {
  background-color: #dca73a !important;
  color: #fff !important;
:hover {
  background-color: #f1b233;
  color: #fff !important;
}}

.c1{
  color: #dca73a;
}
.sub-heading{
  font-size: 7vh;
  color: #dca73a;

}
